@import url(general.css);



.contenedor{
    width: 100%;
    max-width: 900px;
    min-height: 80vh;
    margin: auto;
}
.contenedor > table{
    width: 100%;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 30px;
    border-collapse: collapse;
}
.contenedor > table > thead{
    height: 40px;
    font-weight: 600;
    background-color: black;
    color: white;
    text-align: center;
}



/*TBODY DE PRODUCTOS*/
.contenedor > table > tbody:nth-child(2) > tr{
    height: 40px;
    border-bottom: 1px solid #00000054;
}

/*NOMBRE*/
.contenedor > table > tbody:nth-child(2) > tr > td:nth-of-type(1){
    width: 50%;
}

/*CANTIDAD*/
.contenedor > table > tbody:nth-child(2) > tr > td:nth-of-type(2){
    width: 10%;
    text-align: center;
}

/*PRECIO*/
.contenedor > table > tbody:nth-child(2) > tr > td:nth-of-type(3){
    width: 30%;
    text-align: right;
}

/*BORRAR*/
.contenedor > table > tbody:nth-child(2) > tr > td:nth-of-type(4){
    width: 10%;
    text-align: center;
}
.contenedor > table > tbody:nth-child(2) > tr > td:nth-of-type(4) > a > i{
    color: red;
}



/*TABLA DE TOTAL Y REALIZAR PEDIDO*/
.total{
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
}

/*TOTAL*/
.total > thead > tr{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-primario);
    color: var(--color-secundario);
}
.total > thead > tr > td{
    font-size: 1.8em;
}

/*BOTON REALIZAR PEDIDO*/
.total > tbody > tr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.total > tbody > tr > td > a{
    text-decoration: none;
    color: var(--color-primario);
}
.total > tbody > tr > td > a > button{
    max-width: 300px;
    height: 50px;
    padding: 5px;
    background-color: rgb(236, 143, 230);
    color: white;
    font-size: 1.2em;
    border: 1px solid black;
    cursor: pointer;
}
.total > tbody > tr > td > a > button:hover{
    background-color: var(--color-secundario);
    color: var(--color-primario)
}