/*      ESTILOS GENERALES       */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+SC:wght@500&display=swap');
@import url(header.css);
@import url(footer.css);



*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    --fuenteprincial:'Dancing Script';
    --fuente-dos: 'Noto Sans SC';
    --color-primario: #000;
    --color-secundario: #FFF;
    font-size: 16px;
}



body{
    color: var(--color-primario);
}



.titulo{
    width: 100%;
    font-size: 1.5em;
    margin: 1em auto;
    text-transform: uppercase;
    text-align: center;
}



/*      ADAPTACION      */
@media screen and (min-width:460px){
    :root{
        font-size: 17px;
    }

}

@media screen and (min-width:720px){
    :root{
        font-size: 18px;
    }

}