/*      HEADER      */
header{
  width: 100%;
  height: 100px;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ec8fe6;
  color: var(--color-secundario);
}
/*TITULO*/
header h1{
  max-width: 250px;
  text-align: center;
  font-family: var(--fuenteprincial);
  font-size: 3em;
  line-height: 0.7;
  margin-top: .2em;
}
header h1 > a{
  text-decoration: none;
  color: var(--color-secundario);
}
header h1 > a span{
  text-transform: uppercase;
  font-size: .5em;
  font-family: var(--fuente-dos);
}
/*SECCION DE CARRITO*/
header div:nth-child(3){
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
header div:nth-child(3) > a{
  color: var(--color-secundario);
  font-size: 1em;
}


.menu-icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
}
.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.menu-icon.open span {
  background-color: #fff;
}
.menu-icon.open span:nth-child(3) {
  opacity: 0;
}
.menu-icon.open span:nth-child(1) {
  margin-top: 6px;
}
.menu-icon.open span:nth-child(2) {
  transform: rotate(90deg) translateX(-8px);
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}
.menu-overlay.open .menu-items {
  transform: translateY(0);
}
.menu-items {
  list-style-type: none;
  padding: 0;
  text-align: center;
  transform: translateY(-50px);
  transition: all 0.3s ease-in-out;
}
.menu-items li {
  font-size: 2rem;
  margin-bottom: 20px;
}
.menu-items li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Versa', sans-serif;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
}
