@import url(general.css);


.contenedor-index{
    width: 100%;
    display: grid;
    grid-template-areas:"destacados      destacados"
                        "catalogo        catalogo";
    gap: 20px;
}



/*      DESTACADOS      */
#destacados{
    width: 100%;
    max-width: 920px;
    margin: 1rem auto;
    grid-area: destacados;
}

#destacados h2 i{
    font-size: 1.5rem;
    background: linear-gradient(#FDC830, #fd5949, #F37335, #F37335);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cCarousel{
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
}
/*ARROWS*/
#cCarousel i{
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 3rem;
    cursor: pointer;
    background-color: var(--color-secundario);
    border-radius: 50%;
}
#cCarousel #prev{
    left: 5px;
}
#cCarousel #next{
    right: 5px;
}
#carousel-vp{
    width: 90%;
    max-width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}
#cCarousel #cCarousel-inner{
    margin: auto;
    padding: 1rem;
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 10px;
    left: 0px;
}
.cCarousel-item{
    width: 250px;
    height: 365px;
    border: 2px solid var(--color-secundario);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.cCarousel-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.cCarousel-item .infos{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-secundario);
}
.cCarousel-item .infos span::before{
    content: '$ ';
}
.cCarousel-item .infos button{
    width: 100px;
    height: 30px;
    background: var(--color-primario);
    border-radius: 15px;
    cursor: pointer;
}
.cCarousel-item .infos button a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secundario);
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
}




/*      CATALOGO        */
#catalogo{
    grid-area: catalogo;
    width: 100%;
}
#catalogo > .warpper{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#catalogo > .warpper > .tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    display:inline-block;
    color:var(--color-primario);
    border: 1px solid var(--color-primario);
    border-bottom: none;
    background: var(--color-secundario);
}
#catalogo > .warpper > .panels{
    width:80%;
    overflow:hidden;
    margin: 0 auto 3rem;
    padding:20px;
    border-radius:3px;
    background-color: var(--color-primario);
}
#catalogo > .warpper > .panels > .panel{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    animation: fadein .8s;
}
#catalogo > .warpper > .panels > .panel > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
@keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
}
.radio{
    display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
    display: flex;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
    color:var(--color-secundario);
    background-color: var(--color-primario);
}



/*      ADAPTACION      */
@media screen and (min-width:460px){

}

@media screen and (min-width:720px){

}