/*      PIE DE PAGINA       */
footer{
    width: 100%;
    height: 200px;
}
footer > svg{
    margin: -10px 0; 
}
footer > section{
    width: 100%;
    height: 80%;
    margin: auto ;
    padding: 20px 0;
    text-align: center;
    background: #ec8fe6;
}
footer > section > h2{
    font-size: 1.5em;
    text-transform: uppercase;
    color: var(--color-secundario);
}
footer > section > div{
    width: 100%;
    max-width: 500px;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer > section > div > a{
    font-size: 2.5em ;
    color: var(--color-secundario);
    text-decoration: none;
    transition: all .5s ease-in-out;
}
footer > section > div > a:hover{
    transform: scale(1.2);
}
.fa-facebook{
    color: #0752f1;
}
.fa-instagram{
    color: #8e07e8;
}
.fa-whatsapp{
    color: #07f35d;
}



/*      CREADO      */
footer > section:nth-child(3){
    height: 60px;
    font-size: .6em;
    color: #000;
}
footer > section:nth-child(3) > p > a{
    color: #000;
}