/*      ESTILOS GENERALES       */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+SC:wght@500&display=swap');
@import url(header.css);
@import url(footer.css);



*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    --fuenteprincial:'Dancing Script';
    --fuente-dos: 'Noto Sans SC';
    --color-primario: #000;
    --color-secundario: #FFF;
    --color-terciario: #ec8fe6;
    font-size: 16px;
}


.titulo{
    width: 100%;
    font-size: 1.5em;
    margin: 1em auto;
    text-transform: uppercase;
    text-align: center;
}

/*TODOS LOS ARTICULOS*/
article{
    width: 15em;
    height: 18em;
    padding: 10px;
    margin: .5em;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    background: rgb(150, 150, 150);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
article > a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    color: var(--color-secundario);
    text-decoration: none;
    text-align: center;
}
article > a > figure > img{
    width: 100%;
    margin: .2em auto;
}
article > a > span:nth-child(3){
    color: var(--color-secundario);
}
article > a > span:nth-child(3)::before{
    content: '$ ';
}



/*      ADAPTACION      */
@media screen and (min-width:460px){
    :root{
        font-size: 17px;
    }

}

@media screen and (min-width:720px){
    :root{
        font-size: 18px;
    }

}