@import url(general.css);


.contenedor-index{
    width: 100%;
    display: grid;
    grid-template-areas:"destacados      destacados"
                        "catalogo        catalogo";
    gap: 20px;
}



/*      DESTACADOS      */
#destacados{
    width: 80%;
    max-width: 1200px;
    margin: 1rem auto;
    grid-area: destacados;
}
#destacados h2 i{
    font-size: 1em;
    background: linear-gradient(#FDC830, #fd5949, #F37335, #F37335);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cCarousel{
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
}
/*ARROWS*/
#cCarousel i{
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 3rem;
    cursor: pointer;
    background-color: var(--color-secundario);
    border-radius: 50%;
}
#cCarousel #prev{
    left: 2px;
}
#cCarousel #next{
    right: 2px;
}
#carousel-vp{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}
#cCarousel #cCarousel-inner{
    margin: auto;
    padding: 1rem;
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 5px;
    left: 0px;
}
#cCarousel #cCarousel-inner > article > a > figure > img{
    width: 200px;
    height: 200px;
}


/*      CATALOGO        */
#catalogo{
    width: 100%;
    grid-area: catalogo;
}
#catalogo h2{
    display: flex;
    flex-direction: column;
}
#catalogo h2 i{
    font-size: 3em;
    animation: arriba 2s infinite  alternate;
}
@keyframes arriba{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0);
    }
    
}
#catalogo > .warpper{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#catalogo > .warpper > .tabs > .tab{
    display:inline-block;
    padding: 10px;
    margin: 0px 2px;
    cursor: pointer;
    border: 1px solid var(--color-primario);
    border-bottom: none;
    color:var(--color-primario);
    background: var(--color-secundario);
}
#catalogo > .warpper > .panels{
    width: 100%;
    overflow: hidden;
    margin: 0 auto 3rem;
    padding: 20px 0;
    background-color: var(--color-primario);
    background: rgb(236, 143, 230);
}
#catalogo > .warpper > .panels > .panel > div > article > a > figure > img{
    width: 150px;
    height: 150px;
}
#catalogo > .warpper > .panels > .panel{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadein .8s;
}
#catalogo > .warpper > .panels > .panel > div{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
}
.radio{
    display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
    display: flex;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
    color:var(--color-secundario);
    background-color: rgb(236, 143, 230);
}
#catalogo > .warpper > .panels > .panel > a{
    width: 100px;
    height: 30px;
    margin: 2em auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primario);
    background: var(--color-secundario);
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
}
#catalogo article{
    width: auto;
    height: 13em;
}

